In [489]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

year_list = ["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]
categories = ["economic", "education", "health", "infra", "social", "other"]
column_years = ['Year_2010','Year_2011','Year_2012','Year_2013','Year_2014','Year_2015','Year_2016','Year_2017','Year_2018','Year_2019']
country_set = set()

engine = create_engine('postgresql://postgres:password@127.0.0.1:5432/unrestdatabase')

for year in year_list:
    protest_ = "Protest_Count_" + year
    riot_ = "Riot_Count_" + year
    total_ = "Total_" + year
    acled_ = "acled_" + year
    query_countries = 'select *, ("' + protest_ + '" + "' + riot_ + '") as "' + total_ + '" from "' + acled_ + '";'
    acled = pd.read_sql_query(query_countries, con = engine)
    acled_top = acled.sort_values(by=[total_], ascending = False)[0:5]
    top_5 = acled_top.Country_Code
    for country in top_5:
        country_set.add(country)  

for cc in country_set:
    table_name = cc + _ + "data"
    df_cc = pd.DataFrame()
    for year in year_list:
        protest_ = "Protest_Count_" + year
        riot_ = "Riot_Count_" + year
        total_ = "Total_" + year
        acled_ = "acled_" + year
        df_year = pd.DataFrame()
        for category in categories:
            cat = category + '_' + year
            query = "select * from " + cat + " WHERE \"COUNTRY.CODE\" = '" + cc + "';"
            df = pd.read_sql_query(query, con = engine)
            df = df.replace(regex='^None', value = np.nan)
            float_columns = df.drop(["COUNTRY.CODE"], axis=1).columns
            df[float_columns] = df[float_columns].astype(float)
            df_year = pd.concat([df_year, df], axis=1)
        acled_query = 'select *, ("' + protest_ + '" + "' + riot_ + '") as "' + total_ + '" from ' + acled_ + ' WHERE "Country_Code" = \'' + cc + '\';'
        acled_df = pd.read_sql_query(acled_query, con = engine)
        df_year = pd.concat([df_year, acled_df], axis=1)
        df_year = df_year.rename(columns={protest_: "Protest_Count", riot_:"Riot_Count", total_:"Total_Count"})  
        df_year = df_year.transpose()
        df_cc = pd.concat([df_cc, df_year], axis = 1)
    df_cc.columns = column_years
    df_cc = df_cc.drop(["COUNTRY.CODE", "Country_Code", "Region", "country"])
    df_cc = df_cc.astype(float)
    df_cc['Feature'] = df_cc.index
    df_cc['Country_Code'] = cc
    df_cc = df_cc.interpolate(method = 'linear', axis = 0, limit = 10, limit_direction='both')
    ### write to database here
    df_toDB.tosql(table_name, engine)

In [488]:
df_cc

,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Year_2019,Feature,Country_Code
NY.ADJ.NNTY.KD.ZG,8.265457,8.558468,5.694190,0.770758,-4.080095,-8.567491,4.191904,8.951885,4.078751,37.400000,NY.ADJ.NNTY.KD.ZG,UKR
NY.ADJ.NNAT.GN.ZS,3.277949,2.303089,0.328206,-4.504963,-2.481293,5.249203,7.002716,5.592442,3.012389,37.400000,NY.ADJ.NNAT.GN.ZS,UKR
MS.MIL.TOTL.TF.ZS,0.991555,0.993335,1.003358,0.563252,0.974162,1.222234,1.406882,1.441035,1.453594,37.400000,MS.MIL.TOTL.TF.ZS,UKR
IC.FRM.BRIB.ZS,15.480555,14.238047,17.353229,49.300000,32.319741,35.740536,36.608214,6.457921,6.984807,37.400000,IC.FRM.BRIB.ZS,UKR
GC.DOD.TOTL.GD.ZS,29.969556,27.482759,33.703100,37.028716,63.665319,70.258838,71.809545,11.474807,12.516020,28.813223,GC.DOD.TOTL.GD.ZS,UKR
...,...,...,...,...,...,...,...,...,...,...,...,...
SP.URB.GROW,-0.260137,-0.224115,-0.111675,-0.092571,-0.344322,-0.126498,-0.196760,-0.253398,-0.313465,-0.359035,SP.URB.GROW,UKR
index,-0.260137,-0.224115,-0.111675,-0.092571,-0.344322,-0.126498,-0.196760,-0.253398,90.000000,125.000000,index,UKR
Protest_Count,-0.260137,-0.224115,-0.111675,-0.092571,-0.344322,-0.126498,-0.196760,-0.253398,1318.000000,1429.000000,Protest_Count,UKR
Riot_Count,-0.260137,-0.224115,-0.111675,-0.092571,-0.344322,-0.126498,-0.196760,-0.253398,161.000000,128.000000,Riot_Count,UKR
Total_Count,-0.260137,-0.224115,-0.111675,-0.092571,-0.344322,-0.126498,-0.196760,-0.253398,1479.000000,1557.000000,Total_Count,UKR

In [472]:
df_test

,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Year_2019,Country_Code
NY.ADJ.NNTY.KD.ZG,3.931963,4.003395,1.935154,1.505035,2.258815,3.599999,-0.102920,2.581781,-0.093644,39.533501,ZAF
NY.ADJ.NNAT.GN.ZS,4.929945,4.766826,2.019430,1.764581,1.908003,2.705316,2.420770,2.492838,1.035200,39.533501,ZAF
MS.MIL.TOTL.TF.ZS,0.408099,0.403375,0.314411,0.378961,0.394870,0.378745,0.368445,0.352470,0.390675,39.533501,ZAF
IC.FRM.BRIB.ZS,5.207289,5.184405,5.119293,5.093059,5.016762,5.221631,5.386772,5.295677,5.356230,39.533501,ZAF
GC.DOD.TOTL.GD.ZS,10.006479,9.965435,9.924176,9.807156,9.638655,10.064517,10.405099,10.238885,10.321785,39.533501,ZAF
...,...,...,...,...,...,...,...,...,...,...,...
SP.URB.GROW,2.312394,2.370362,2.417914,2.425807,2.393447,2.328063,2.253041,2.183711,2.121666,2.090812,ZAF
index,38.000000,41.000000,42.000000,42.000000,43.000000,45.000000,53.000000,56.000000,77.000000,109.000000,ZAF
Protest_Count,150.000000,148.000000,458.000000,557.000000,488.000000,600.000000,735.000000,567.000000,529.000000,842.000000,ZAF
Riot_Count,130.000000,129.000000,449.000000,391.000000,498.000000,796.000000,619.000000,430.000000,486.000000,658.000000,ZAF
Total_Count,280.000000,277.000000,907.000000,948.000000,986.000000,1396.000000,1354.000000,997.000000,1015.000000,1500.000000,ZAF

In [458]:
df_test = df_cc.drop(["Feature"], axis=1)

In [459]:
df_test = df_test.drop(["COUNTRY.CODE", "Country_Code", "Region", "country"])

In [460]:
df_test

,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Year_2019
NY.ADJ.NNTY.KD.ZG,3.93196,4.00339,1.93515,1.50504,2.25882,3.6,-0.10292,2.58178,-0.0936437,NaN
NY.ADJ.NNAT.GN.ZS,4.92995,4.76683,2.01943,1.76458,1.908,2.70532,2.42077,2.49284,1.0352,NaN
MS.MIL.TOTL.TF.ZS,0.408099,0.403375,0.314411,0.378961,0.39487,0.378745,0.368445,0.35247,0.390675,NaN
IC.FRM.BRIB.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
SP.URB.GROW,2.31239,2.37036,2.41791,2.42581,2.39345,2.32806,2.25304,2.18371,2.12167,2.09081
index,38,41,42,42,43,45,53,56,77,109
Protest_Count,150,148,458,557,488,600,735,567,529,842
Riot_Count,130,129,449,391,498,796,619,430,486,658
Total_Count,280,277,907,948,986,1396,1354,997,1015,1500

In [464]:
df_test = df_test.astype(float)

In [465]:
df_test = df_test.interpolate(method = 'linear', axis = 0, limit = 10, limit_direction='both')

In [467]:
df_test['Country_Code'] = 'ZAF'

In [468]:
df_test

,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Year_2019,Country_Code
NY.ADJ.NNTY.KD.ZG,3.931963,4.003395,1.935154,1.505035,2.258815,3.599999,-0.102920,2.581781,-0.093644,39.533501,ZAF
NY.ADJ.NNAT.GN.ZS,4.929945,4.766826,2.019430,1.764581,1.908003,2.705316,2.420770,2.492838,1.035200,39.533501,ZAF
MS.MIL.TOTL.TF.ZS,0.408099,0.403375,0.314411,0.378961,0.394870,0.378745,0.368445,0.352470,0.390675,39.533501,ZAF
IC.FRM.BRIB.ZS,5.207289,5.184405,5.119293,5.093059,5.016762,5.221631,5.386772,5.295677,5.356230,39.533501,ZAF
GC.DOD.TOTL.GD.ZS,10.006479,9.965435,9.924176,9.807156,9.638655,10.064517,10.405099,10.238885,10.321785,39.533501,ZAF
...,...,...,...,...,...,...,...,...,...,...,...
SP.URB.GROW,2.312394,2.370362,2.417914,2.425807,2.393447,2.328063,2.253041,2.183711,2.121666,2.090812,ZAF
index,38.000000,41.000000,42.000000,42.000000,43.000000,45.000000,53.000000,56.000000,77.000000,109.000000,ZAF
Protest_Count,150.000000,148.000000,458.000000,557.000000,488.000000,600.000000,735.000000,567.000000,529.000000,842.000000,ZAF
Riot_Count,130.000000,129.000000,449.000000,391.000000,498.000000,796.000000,619.000000,430.000000,486.000000,658.000000,ZAF
Total_Count,280.000000,277.000000,907.000000,948.000000,986.000000,1396.000000,1354.000000,997.000000,1015.000000,1500.000000,ZAF

In [450]:
# df[float_columns] = df[float_columns].astype(float)
df_test = pd.to_numeric(df_test, errors = 'coerce')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [433]:
df_test.head(100)

,Year_2010,Year_2011,Year_2012,Year_2013,Year_2014,Year_2015,Year_2016,Year_2017,Year_2018,Year_2019,Feature
NY.ADJ.NNTY.KD.ZG,3.93196,4.00339,1.93515,1.50504,2.25882,3.6,-0.10292,2.58178,-0.0936437,NaN,NY.ADJ.NNTY.KD.ZG
NY.ADJ.NNAT.GN.ZS,4.92995,4.76683,2.01943,1.76458,1.908,2.70532,2.42077,2.49284,1.0352,NaN,NY.ADJ.NNAT.GN.ZS
MS.MIL.TOTL.TF.ZS,0.408099,0.403375,0.314411,0.378961,0.39487,0.378745,0.368445,0.35247,0.390675,NaN,MS.MIL.TOTL.TF.ZS
IC.FRM.BRIB.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IC.FRM.BRIB.ZS
GC.DOD.TOTL.GD.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,GC.DOD.TOTL.GD.ZS
...,...,...,...,...,...,...,...,...,...,...,...
SP.URB.GROW,2.31239,2.37036,2.41791,2.42581,2.39345,2.32806,2.25304,2.18371,2.12167,2.09081,SP.URB.GROW
index,38,41,42,42,43,45,53,56,77,109,index
Protest_Count,150,148,458,557,488,600,735,567,529,842,Protest_Count
Riot_Count,130,129,449,391,498,796,619,430,486,658,Riot_Count
Total_Count,280,277,907,948,986,1396,1354,997,1015,1500,Total_Count

In [432]:
df_test.Feature[df_test.Feature == 'NY.ADJ.NNTY.KD.ZG']

NY.ADJ.NNTY.KD.ZG    NY.ADJ.NNTY.KD.ZG
Name: Feature, dtype: object

In [ ]:
### Correlation Results with those absolute value >= 0.6 saved into sets
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://postgres:password@127.0.0.1:5432/unrestdatabase')

year_list = ["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]
indicators = ["economic", "education", "health", "infra", "social", "other"]


total_ind_2010 = set()
total_ind_2011 = set()
total_ind_2012 = set()
total_ind_2013 = set()
total_ind_2014 = set()
total_ind_2015 = set()
total_ind_2016 = set()
total_ind_2017 = set()
total_ind_2018 = set()
total_ind_2019 = set()
total_ind_dict = {"2010": total_ind_2010,"2011": total_ind_2011,"2012": total_ind_2012,"2013": total_ind_2013,
                  "2014": total_ind_2014,"2015": total_ind_2015,"2016": total_ind_2016,"2017": total_ind_2017,
                  "2018": total_ind_2018,"2019": total_ind_2019}


for indicator in indicators:
    grouping = indicator
    for year in year_list:
        indicator_var = grouping + "_" + year 
        acled_var = "acled_" + year
        protest_year = "Protest_Count_" + year
        riot_year = "Riot_Count_" + year
        total_year = "Total_Unrest_" + year
        protest_set = protest_ind_dict[year]
        riot_set = riot_ind_dict[year]
        total_set = total_ind_dict[year]
        
        query = 'select * from ' + indicator_var + ' JOIN ' + acled_var + ' ON ' + indicator_var +'."COUNTRY.CODE" =  "Country_Code";'
        indicator = pd.read_sql_query(query, con = engine)
        total_unrest = indicator[protest_year] + indicator[riot_year]
        indicator[total_year] = total_unrest
        indicator_revised = indicator.drop(['Region', 'Country_Code', 'country', 'index','COUNTRY.CODE'], axis=1)
        indicator_ = indicator_revised.apply(pd.to_numeric, errors='coerce')
        indicator_corr = indicator_.corr()
        
        protest_abs = abs(indicator_corr[[protest_year]])
        for index in protest_abs[protest_abs[protest_year]>=0.6].index:
            if(index != protest_year and index != riot_year and index != total_year):
                protest_set.add(index)
                
        riot_abs = abs(indicator_corr[[riot_year]])
        for index in riot_abs[riot_abs[riot_year]>=0.6].index:
            if(index != protest_year and index != riot_year and index != total_year):
                riot_set.add(index)                

        total_abs = abs(indicator_corr[[total_year]])
        for index in total_abs[total_abs[total_year]>=0.6].index:
            if(index != protest_year and index != riot_year and index != total_year):
                total_set.add(index)

In [495]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://postgres:password@127.0.0.1:5432/unrestdatabase')

top_countries = ['bgd', 'bhr', 'bra', 'egy', 'ind', 'irn', 'lbn', 'lbn', 'lka', 
                 'mex', 'nga', 'npl', 'pak', 'tun', 'tur', 'ukr', 'zaf']


query_bgd = """select "Feature", "Year_2010" as "bgd_2010" from "bgd_data";"""
query_bhr = """select "Feature", "Year_2010" as "bhr_2010" from "bhr_data";"""
query_bra = """select "Feature", "Year_2010" as "bra_2010" from "bra_data";"""

bgd_2010 = pd.read_sql_query(query_bgd, con = engine)
bhr_2010 = pd.read_sql_query(query_bhr, con = engine)
bra_2010 = pd.read_sql_query(query_bra, con = engine)

In [557]:
from sqlalchemy import create_engine
import pandas as pd
engine = create_engine('postgresql://postgres:password@127.0.0.1:5432/unrestdatabase')

top_countries = ['bgd', 'bhr', 'bra', 'egy', 'ind', 'irn', 'lbn', 'lka', 
                 'mex', 'nga', 'npl', 'pak', 'tun', 'tur', 'ukr', 'zaf']

year_list = ["2010","2011","2012","2013","2014","2015","2016","2017","2018","2019"]

results_year_dict = {}

for year in year_list:
    year_input = "Year_" + year
    df_year = pd.DataFrame(columns=['Feature'])
    for country in top_countries:
        dict_entry = country + "_" + year
        table_name = country + "_data"
        query = 'select "Feature", "' + year_input + '" as "' + dict_entry + '" from "' + table_name + '";'
        df_result = pd.read_sql_query(query, con=engine)

        df_year = pd.merge(left=df_year, right = df_result, how='right', on='Feature')
    results_year_dict[year_input] = df_year

In [ ]:
test_df = bgd_2010.set_index('Feature').join(bhr_2010.set_index('Feature')).join(bra_2010.set_index('Feature'))

In [561]:
results_year_dict['Year_2012']

,Feature,bgd_2012,bhr_2012,bra_2012,egy_2012,ind_2012,irn_2012,lbn_2012,lka_2012,mex_2012,nga_2012,npl_2012,pak_2012,tun_2012,tur_2012,ukr_2012,zaf_2012
0,NY.ADJ.NNTY.KD.ZG,6.255783,10.372562,2.491879,3.623781,6.098986,-15.472932,6.092337,8.739434,1.961958,13.822043,5.768925,2.866711,6.767213,4.777102,5.694190,1.935154
1,NY.ADJ.NNAT.GN.ZS,29.514628,32.436819,5.868480,8.049189,24.889562,-6.576466,-20.008294,27.304520,7.566656,24.475649,32.523180,6.284012,0.401829,8.346423,0.328206,2.019430
2,MS.MIL.TOTL.TF.ZS,0.372751,2.631205,0.731041,2.922813,0.589424,2.320000,4.172502,2.730862,0.641923,0.301764,1.085958,1.547408,1.206306,2.288258,1.003358,0.314411
3,IC.FRM.BRIB.ZS,7.039555,2.787906,30.290266,10.815210,25.633727,0.925063,10.193591,35.720628,3.648358,1.373621,9.759801,1.827355,22.933029,20.640812,17.353229,5.119293
4,GC.DOD.TOTL.GD.ZS,13.706359,2.944606,59.849490,18.707608,50.678031,-0.469874,16.214680,68.710395,6.654792,2.445478,18.433645,2.107301,44.659751,38.993366,33.703100,9.924176
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,SP.URB.GROW,3.584756,1.766070,1.237964,2.089080,2.369769,1.981623,6.437464,0.046587,1.730970,4.644999,1.834271,2.710201,1.391284,2.430865,-0.111675,2.417914
92,index,2.000000,1.766070,1.237964,12.000000,2.369769,1.981623,6.437464,44.000000,1.730970,36.000000,34.000000,37.000000,49.000000,2.430865,-0.111675,42.000000
93,Protest_Count,462.000000,1.766070,1.237964,212.000000,2.369769,1.981623,6.437464,154.000000,1.730970,160.000000,290.000000,4467.000000,188.000000,2.430865,-0.111675,458.000000
94,Riot_Count,820.000000,1.766070,1.237964,86.000000,2.369769,1.981623,6.437464,57.000000,1.730970,45.000000,184.000000,400.000000,81.000000,2.430865,-0.111675,449.000000
95,Total_Count,1282.000000,1.766070,1.237964,298.000000,2.369769,1.981623,6.437464,211.000000,1.730970,205.000000,474.000000,4867.000000,269.000000,2.430865,-0.111675,907.000000

,Feature,bgd_2010,bhr_2010,bra_2010,egy_2010,ind_2010,irn_2010,lbn_2010,lka_2010,mex_2010,nga_2010,npl_2010,pak_2010,tun_2010,tur_2010,ukr_2010,zaf_2010
0,NY.ADJ.NNTY.KD.ZG,6.438454,15.197029,5.119341,3.681336,10.088563,10.003155,4.495243,10.406832,5.563317,8.519523,7.468074,3.356911,7.867091,9.999184,8.265457,3.931963
1,NY.ADJ.NNAT.GN.ZS,27.841250,27.110542,5.831066,11.830190,26.177885,6.172788,-11.134555,22.670597,8.046974,17.276666,30.200372,7.011723,6.071555,6.371985,3.277949,4.929945
2,MS.MIL.TOTL.TF.ZS,0.386769,2.725005,0.749202,3.047760,0.569051,2.342421,4.604730,2.700715,0.679382,0.304874,1.100075,1.641626,1.255324,2.429982,0.991555,0.408099
3,IC.FRM.BRIB.ZS,7.345686,16.430004,31.033991,11.340846,26.080481,9.153937,10.148087,37.143017,17.600000,0.584746,17.481298,11.446180,20.958963,24.775826,15.480555,5.207289
4,GC.DOD.TOTL.GD.ZS,14.304602,30.135003,61.318780,19.633932,51.591910,15.965453,15.691445,71.585318,14.000544,0.864618,33.862521,21.250735,40.662601,47.121670,29.969556,10.006479
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,SP.URB.GROW,3.627800,4.661908,1.283606,1.938303,2.465490,1.968191,3.036432,0.596810,1.817966,4.744297,2.493196,2.781647,1.457861,2.228078,-0.260137,2.312394
92,index,1.000000,4.661908,1.283606,11.000000,2.465490,1.968191,3.036432,39.000000,1.817966,32.000000,30.000000,33.000000,44.000000,2.228078,-0.260137,38.000000
93,Protest_Count,576.000000,4.661908,1.283606,46.000000,2.465490,1.968191,3.036432,110.000000,1.817966,99.000000,216.000000,3549.000000,22.000000,2.228078,-0.260137,150.000000
94,Riot_Count,1138.000000,4.661908,1.283606,24.000000,2.465490,1.968191,3.036432,116.000000,1.817966,47.000000,221.000000,334.000000,4.000000,2.228078,-0.260137,130.000000
95,Total_Count,1714.000000,4.661908,1.283606,70.000000,2.465490,1.968191,3.036432,226.000000,1.817966,146.000000,437.000000,3883.000000,26.000000,2.228078,-0.260137,280.000000

In [544]:
df_result

              Feature     bgd_2010
0   NY.ADJ.NNTY.KD.ZG     6.438454
1   NY.ADJ.NNAT.GN.ZS    27.841250
2   MS.MIL.TOTL.TF.ZS     0.386769
3      IC.FRM.BRIB.ZS     7.345686
4   GC.DOD.TOTL.GD.ZS    14.304602
..                ...          ...
91        SP.URB.GROW     3.627800
92              index     1.000000
93      Protest_Count   576.000000
94         Riot_Count  1138.000000
95        Total_Count  1714.000000

[96 rows x 2 columns]

In [526]:
results_dict['bgd_2010']

              Feature     bgd_2010
0   NY.ADJ.NNTY.KD.ZG     6.438454
1   NY.ADJ.NNAT.GN.ZS    27.841250
2   MS.MIL.TOTL.TF.ZS     0.386769
3      IC.FRM.BRIB.ZS     7.345686
4   GC.DOD.TOTL.GD.ZS    14.304602
..                ...          ...
91        SP.URB.GROW     3.627800
92              index     1.000000
93      Protest_Count   576.000000
94         Riot_Count  1138.000000
95        Total_Count  1714.000000

[96 rows x 2 columns]

In [496]:
bgd_2010

              Feature     bgd_2010
0   NY.ADJ.NNTY.KD.ZG     6.438454
1   NY.ADJ.NNAT.GN.ZS    27.841250
2   MS.MIL.TOTL.TF.ZS     0.386769
3      IC.FRM.BRIB.ZS     7.345686
4   GC.DOD.TOTL.GD.ZS    14.304602
..                ...          ...
91        SP.URB.GROW     3.627800
92              index     1.000000
93      Protest_Count   576.000000
94         Riot_Count  1138.000000
95        Total_Count  1714.000000

[96 rows x 2 columns]

In [509]:
test_df = bgd_2010.set_index('Feature').join(bhr_2010.set_index('Feature')).join(bra_2010.set_index('Feature'))

In [511]:
test_df.transpose().corr()

Feature,NY.ADJ.NNTY.KD.ZG,NY.ADJ.NNAT.GN.ZS,MS.MIL.TOTL.TF.ZS,IC.FRM.BRIB.ZS,GC.DOD.TOTL.GD.ZS,GC.XPN.COMP.ZS,per_allsp.cov_pop_tot,SL.EMP.TOTL.SP.NE.ZS,GC.XPN.TOTL.GD.ZS,NY.GDP.MKTP.KD.ZG,...,SP.POP.TOTL,VC.PKP.TOTL.UN,SP.RUR.TOTL,SP.RUR.TOTL.ZG,SP.URB.TOTL,SP.URB.GROW,index,Protest_Count,Riot_Count,Total_Count
Feature,,,,,,,,,,,,,,,,,,,,,
NY.ADJ.NNTY.KD.ZG,1.000000,0.577022,0.965038,-0.251697,-0.302261,0.992063,0.987957,0.819251,0.596277,-0.861729,...,-0.992901,-0.978533,-0.642003,0.998290,-0.786795,0.812043,0.981935,-0.387379,-0.389708,-0.390507
NY.ADJ.NNAT.GN.ZS,0.577022,1.000000,0.342777,-0.935670,-0.952938,0.675142,0.443702,0.941066,-0.311588,-0.911619,...,-0.670072,-0.396313,0.255737,0.623774,-0.958095,0.945208,0.412057,0.529433,0.527287,0.526549
MS.MIL.TOTL.TF.ZS,0.965038,0.342777,1.000000,0.010773,-0.041845,0.924420,0.993972,0.640307,0.785845,-0.698616,...,-0.927011,-0.998340,-0.820517,0.948068,-0.597510,0.630686,0.997201,-0.615478,-0.617469,-0.618151
IC.FRM.BRIB.ZS,-0.251697,-0.935670,0.010773,1.000000,0.998615,-0.371397,-0.098919,-0.761177,0.626853,0.707929,...,0.365027,0.046836,-0.580428,-0.307836,0.795378,-0.769199,-0.064023,-0.794738,-0.793201,-0.792673
GC.DOD.TOTL.GD.ZS,-0.302261,-0.952938,-0.041845,0.998615,1.000000,-0.419725,-0.151130,-0.794240,0.584998,0.744104,...,0.413498,0.099320,-0.536787,-0.357461,0.826162,-0.801749,-0.116432,-0.761709,-0.760068,-0.759504
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
SP.URB.GROW,0.812043,0.945208,0.630686,-0.769199,-0.801749,0.878982,0.711964,0.999922,0.015702,-0.995860,...,-0.875694,-0.674335,-0.073888,0.844766,-0.999116,1.000000,0.686945,0.223463,0.220998,0.220152
index,0.981935,0.412057,0.997201,-0.064023,-0.116432,0.950347,0.999387,0.695947,0.737406,-0.750158,...,-0.952457,-0.999852,-0.775480,0.969196,-0.655792,0.686945,1.000000,-0.554826,-0.556927,-0.557648
Protest_Count,-0.387379,0.529433,-0.615478,-0.794738,-0.761709,-0.268377,-0.525360,0.211301,-0.971083,-0.133938,...,0.274970,0.569063,0.955537,-0.332829,-0.264236,0.223463,-0.554826,1.000000,0.999997,0.999994
Riot_Count,-0.389708,0.527287,-0.617469,-0.793201,-0.760068,-0.270811,-0.527510,0.208829,-0.971684,-0.131433,...,0.277399,0.571140,0.956279,-0.335212,-0.261797,0.220998,-0.556927,0.999997,1.000000,1.000000
Total_Count,-0.390507,0.526549,-0.618151,-0.792673,-0.759504,-0.271646,-0.528247,0.207980,-0.971889,-0.130572,...,0.278233,0.571852,0.956532,-0.336030,-0.260959,0.220152,-0.557648,0.999994,1.000000,1.000000